.button-64 {
  position: relative;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  margin: 50px;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(47, 15, 84, 0.483) 0 15px 30px -5px;
  /* text-decoration: none; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.link-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
}


.button-64:hover {
  outline: 0;
  color: white;
}

.button-64:active {
  transform: scale(.97);
  box-shadow: rgba(47, 15, 84, 0.272) 0 2px 4px -1px;
}

.button-64 span {
  background-color: rgb(255, 255, 255);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
