.subscription {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.story {
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin: 40px 0;
}

.maiki-video iframe {
  width: 50vw;
  height: 90vw;
}

.subs-copy {
  margin: 10px;
  padding-top: 50px;
}

.subs-icons {
  font-style: normal;
}

.benefits-item {
  margin: 25px 0;
  list-style: square;
  text-align: left;
}

.subs__step {
  margin: 70px 0;
  text-align: center;
  padding: 40px;
  background-color: #ffffff43;
  border-radius: 8px;
}

.subs__step li {
  list-style: disc;
  text-align: left;
  margin: 15px 0;
}

.subs__step .google-form {
  text-decoration: none;
  color: white;
}
.subs__step .google-form:hover {
  color: black;
}

ul.subs__step {
  padding-left: 50px;
}

.subs-banks {
  text-align: center;
  padding: 30px 15px;
}

.subs-bank-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.subs-bank-item span {
  width: 170px;
  margin: 10px 0;
}

.subs-bank-icon {
  display: inline-block;
  width: 80px;
  height: 50px;
  background: url("../../assets/bcp.png") center/contain no-repeat;
}

.subs-bank-icon--bbva {
  background-image: url("../../assets/bbva.jpg");
}

.subs-bank-icon--ibk {
  background-image: url("../../assets/ibk.png");
}

.subs-bank-icon--yape {
  background-image: url("../../assets/yape-logo.png");
}

.subs-bank-icon--plin {
  background-image: url("../../assets/plin-logo.png");
}

@media screen and (min-width: 550px) {
  .subs-bank-item {
    flex-direction: row;
    justify-content: space-between;
  }
  .subs-bank-item span {
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .subscription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .subs-copy {
    margin: 30px;
    padding-top: 0px;
    max-width: 62%;
  }

  .maiki-video iframe {
    width: 230px;
    height: calc(230px * 1.78);
    margin-top: 100px;
  }

  .subs-banks {
    padding: 40px;
  }
  
}

@media screen and (min-width: 1024px) {
  .maiki-video iframe {
    width: 350px;
    height: calc(350px * 1.78);
  }

  .subs-copy {
    max-width: 100%;
  }
}
