.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  margin: 0 15px;
  color: white;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.nav__item:hover {
  color: var(--main-color);
}

.nav__item:active {
  color: var(--main-color-op50);
}

.clicked {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
