#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.6rem;
  height: 100%;
}

.main {
  padding: 20px;
  padding-bottom: 0;
}

ul li {
  list-style: none;
}

.strong-red {
  color: rgb(255, 142, 142);
}

@media screen and (min-width: 800px) {
  /* .main {
    padding: 70px;
    padding-bottom: 0;
    background-image: linear-gradient(
      to right,
      white 25%,
      var(--main-color-bio) 25%,
      var(--main-color-bio) 100%
    );
  } */
}
