:root {
  font-family: "Lato", sans-serif;
  font-style: italic;
  --main-color: #8b51fd;
  --main-color-op50: #8a51fd85;
  --main-color-bio: #e0d0ff;
  --main-color-bio-dark: #c2a4ff;
}

body {
  background: url("./assets/bg-animated.svg") center/cover no-repeat;
  color: white;
}

@media screen and (min-width: 1280px) {

}
